@import 'libs/vars';
@import 'libs/functions';
@import 'libs/html-grid';

* {
	text-align: center !important;
}
// Layout
header {
	nav {
		.navbar-toggler {
			border: none;
		}
		.navbar-toggler:focus {
			outline: none;
		}
	}
}

main {
	min-height: calc(100vh - 130px);
	
}

img {
	max-height: 449px;
}

