* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: slateblue;
    min-height: 100%;
}

h1 {
    text-align: center;
}

p {
    font-weight: bold;
}

div {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

header {
    border-bottom: 1px solid black;
}

.display, .player-choices, .reset {
    margin-bottom: 20px;
}

.display {
    display: block;
}

.display-header {
    width: 100%;
    height: 96px;
    display: block;
}

.turn-play {
    height: 100px;
    display: flex;
}
.turn-play div {
    display: flex;
    justify-content: space-evenly;
}


.human-choice, .computer-choice {
    width: 35%;
    transform: scale(0);
}

.rock {
    background: url(../images/rock.png) no-repeat;
}
  
.paper {
    background: url(../images/paper.png) no-repeat;
}

.scissors {
    background: url(../images/scissors.png) no-repeat;
}

.rock, .paper, .scissors {
    transition: transform 1s;
}

.hidden {
    text-align: center;
    transform: scale(0);
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.players div {
    display: flex;
    justify-content: space-evenly;
}

#player-score {
    margin-right: 70px;
}

img {
    transition: transform 500ms, width 500ms, height 500ms, background-color 500ms;
    width: 75px;
}
img#rock-img {
    width: 85px;
}

a.disabled:hover {
    cursor: default;
}
a.enabled img:hover {
    transform: scale(1.1);
}

.player-choices {
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    transition: transform 500ms, width 500ms, height 500ms, background-color 500ms;
    outline: none;
    border-radius: 10px;
    font-size: 25px;
    width: 150px;
    height: 40px;
}

button.enabled:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: black;
}

button.disabled:hover {
    cursor: default;
}

.reset {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    min-height: calc(100vh - 130px);
}

footer {
    text-align: center;
}

/* icon */
.fab {
    margin: 0 15px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.55);
    transition: transform 500ms, width 500ms, height 500ms, background-color 500ms;
}

.fab:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    
    .reset {
        width: 50%;
        margin-top: 0;
        margin: auto;
    }
    
    .human-choice, .computer-choice {
        width: 10%;
        transform: scale(0);
    }

    .player-choices {
        padding: 0 160px;
    }
    img {
        max-width: 100%;
        height: auto;
        width: 100px;
    }
    
    img#rock-img {
        width: 110px;
    }
}